  p {
    margin-bottom: 12px;
  }
  h1, h2, h3 {
    font-weight: 400;
  }
  h1 {
    font-size: 36;
    margin-bottom: 0;
  }
  h2 {
    font-size: 32;
    border-bottom-width: 1;
    border-bottom-color: gray;
    margin-bottom: 8;
  }
  .header-title {
    font-size: 18;
    border-bottom-width: none;
    margin-bottom: 10;
  }
  #header {
    margin-bottom: 32;
    text-align: center;
  }
  #footer {
    margin-top: 64;
    text-align: center;
  }  
