body {
    color: #e7e7e7;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

.container {
    width: 100%;
    max-width: 1622px;
    margin: 0 auto;
}

/* Header */

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1920px;
    z-index: 5;
}

.header_dec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 170px;
    font-size: 16px;
}

.header_nav {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.nav_btn {
    text-decoration: none;
    color: inherit;
    transition: color linear .2s;
}

.nav_btn:hover {
    color: #f09f9f;
    background-color: transparent;
}

.header_phone {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: right;
}

.header_phone i {
    height: 15px;
    width: 15px;
    margin-right: 10px;
}


/* Intro */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    max-height: 950px;
    color: #ffffff;
    background: #b2b2b2 center no-repeat;
    background-size: cover;
}

.first_page {
    width: 100%;
    margin: 440px auto;

    text-align: center;
}

.first_header {
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 0;
}

.second_header {
    font-size: 20px;
    font-weight: 500;
    margin: 35px 0;
}

.intro_button {
    display: block;
    margin: 0 auto;
    padding-top: 17px;
    top: 50%;
    width: 225px;
    height: 38px;
    background-color: #fbad27;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: inherit;
}

/* Welcome */

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1920px;
    color: #757575;
}

.second_page {
    width: 100%;
    max-width: 980px;
    text-align: center;
    margin: 0 auto;
}

.first_main_line {
    font-size: 50px;
    color: #4a4a4a;
    font-weight: 400;
}

.second_main_line {
    font-size: 16px;
    color: #757575;
    font-weight: 400;
}

.benefits {
    display: flex;
    margin: 60px 0px 120px;
 }
 
 .our_benefits {
    width: 30%;
    margin: 0 30px;
    text-align: left;
    padding: 40px 15px;
    transition: box-shadow .2s linear;
 }
 
 .benefit_one:hover {
    box-shadow: 0px 0px 10px 10px #ece7e7;
 }
 
 .benefit_two:hover {
    box-shadow: 0px 0px 10px 10px #ece7e7;
 }
 
 .benefit_three:hover {
    box-shadow: 0px 0px 10px 10px #ece7e7;
 }
 
 .our_benefits:last-child {
    margin-right: 0;
 }
 
 .benefits_icon {
    font-size: 40px;
    color: #fbad27;
    margin-bottom: 15px;
 }
 
 .benefits_header {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #4a4a4a;
 }
 
 .benefits_text {
    font-size: 15px;
 }
 
 .benefits_bottom { 
    display: flex;
    width: 100px;
    height: 50px;
    margin: 75px auto 25px;
    padding: 5px;
 }
 
 .benefits_bottom a {
    display: inline-block;
    border: 4px solid #999999;
    cursor: pointer;
    height: 7px;
    width: 7px;
    padding: 5px;
    margin: 3px;
    background-color: transparent;
    border-radius: 50%;
    transition: border-color .3s ease, transform .1s ease;
 }
 
 .benefits_bottom a:hover {
    border-color: #fbad27;
    transform: scale(1.3)
 }

/*Places*/

.places {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1920px;
    margin: 150px 0 85px;
}

.third_page {
    width: 100%;
    max-width: 1600px;
    text-align: center;
    margin: 0 auto;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 200px;
    height: 40px;
}

.search i {
    font-size: 36px;
    margin-right: 5px;
    color: #e7e7e7;
}

.search_bar {
    border: none;
    font-size: 24px;
    width: 200px;
    margin-left: 5px;
    text-align: center;
}

.search_bar:focus {
    border: 1px #e7e7e7 solid;
    outline: none;
}

