body {
    color: #ffffff;
    margin: 0;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: content-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
} 

hr { 
    display: block;
    background-color: #ebebeb;
    width: 100%;
    height: 1px;
    border: none;
}

/*__CONTAINER__*/
.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

/*__INTRO__*/

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 760px;
    background: url("./images/tajem_master_01.jpg") center no-repeat;
    background-size: cover;
}

.lines {
    width: 100%;
    max-width: 960px;
    margin: 190px auto 0;
    
    bottom: 0;
    left: 25%;

    text-align: center;
}

.first_line {
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 32;
    font-weight:200;
    margin-bottom: 50px;
}

.second_line {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 100;
    margin-bottom: 50px;
}

.second_line::before {
    content: "";
    display: block;
    width: 50px;
    margin: 20px auto 30px; /*ALLIGN IN CENTER*/
    height: 2px;
    background-color:#25bac7;
}

.intro_button {
    box-sizing: border-box;
    display: inline-block;
    width: 120px;
    height: 40px;
    border: 1px solid #25bac7;
    padding-top: 8px;
    margin-top: 0px;
    text-align: center;    

    font-family: 'Hammersmith One', sans-serif;
    font-size: 16px;

    text-transform: uppercase;
    text-decoration: none;
    color: #25bac7;
    transition: background .3s linear, color .3s linear;
}

.intro_button:hover, intro_button:active {
    background-color: #25bac7;
    color:#05565e
}

.bottom_list {
    margin-top: 128px;
    margin-bottom: 75px;
}

.bottom_list a {
    display: inline-block;
    border: 1px solid grey;
    cursor: pointer;
    height: 12px;
    width: 12px;
    background-color: transparent;
    border-radius: 50%;
    transition: background .3s ease;
}

.bottom_list a:hover, a:active {
    background-color: #25bac7;
}


/*__HEADER__*/
.header {
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header_inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

.logo {
    font-size: 30px;
    color: #25bac7;
    font-weight: 100;

    margin-left: 70px;
    position: relative;
}

.logo::before{
    content:url(./images/icon.png);
    display: inline-block;

    position: absolute;
    left: -55px;
}


/*__NAV__*/
.header_nav {
    font-size: 13px;
    color: white;
    font-weight: 700;

    text-transform: uppercase;
}

.nav_btn {
    text-decoration: none;
    color: white;
    transition: color .2s linear;
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
}

.nav_btn:hover, .nav_btn:active {
    color: #25bac7;
    background-color: transparent;
}

/*NEXT BLOCK*/

.story {
    width: 100%;
    height: 400px;
    color: black;
    background-color: #fff;
}

.story_text {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.story_icon {
    width: 255px;
    height: 233px;
    margin-top: 8px;
}

.story_img {
    width: 97%;
    height: auto;
}

.story_head {
    width: 100%;
    max-width: 540px;
}

.head1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
}

.story1 {
    font-size: 14px;
    color: grey;
    margin-bottom: 35px;
}

/*VIDEO BLOCK*/

.video {
    width: 100%;
    height: 550px;
    display:flex;
    align-items: center;
    text-align: center;
    background: url(./images/background2.jpg) center/cover no-repeat;
}
.video_image1 {
    width: 100px;
    height: 100px;
    display: flex;
    position: relative; 
    left: 45%;
    top: 50%;
}

.video_image2 {
    width: 45px;
    height: 45px;
    position: absolute;
    top:27px;
    left:33px;
    
}

.video_text {
    width: 160px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: white;

    position: absolute;
    top: 125px;
    left: -30px; 
}

/*EXPERTISE*/

.expertise {
    margin-bottom: 110px;
}

.section_header {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    

}

.section_title {
    font-family: 'Playfair Display', serif;
    font-size: 22pt;
    font-weight: 700;
    text-transform: uppercase;

    margin-top: 70px;
    color: black;
}

.section_title--team { /*_MODIFIER!_*/
    color: white;
}

.section_subtitle {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    color: #6e6c72;

    margin-top: 20px;
}

.section_subtitle--team {
    color: white;
}

.section_subtitle::after {
    display: block;
    content: "";
    width: 50px;
    height: 2px;
    margin: 20px auto 0;  /*ALLIGN IN CENTER*/
    background-color: #c6c4c9;
    margin-bottom: 80px;
}

.section_list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: black;
    text-align: center;
}

.expertise_list{
    position: relative;
    width: 33.333%;
    padding-top: 20px;
}

.expertise_list img {
    width: 45px;
    height: 45px;
}

.expertise_icon {
    display: block;
    margin: 0 auto;
    padding-bottom: 40px;
}

.expertise_title {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;   
    font-weight: bold; 
    padding-bottom: 5px;
}

.expertise_subtitle {
    font-weight: 300;
    color: #808080;
    font-size: 14px;
}


/*TEAM*/

.team {
    width: 100%;
    height: auto;
    align-items: center;
    text-align: center;
    background: url(./images/background3.jpg) center/cover no-repeat;
    padding-bottom: 15px;
}

.team_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}

.team_inner {
    width: 23%;
    height: auto;
    max-height: 310px;
    padding: 0 8px;
}

.team_image img {
    width: 100%;
    height: auto;
    max-height: 230px;
}

.team_text {
    border: solid 1px #757488;
}

.team_name { 
   font-family: 'Roboto', sans-serif;
   font-weight: 700;
   font-size: 14px;
   color: white;
   padding-top: 12px;
}

.team_name a {
    color: #fff;
}

.team_job {
   font-family: 'Roboto', sans-serif;
   font-weight: 200;
   font-size: 13px;
   text-transform: uppercase;
   color: #b0aebd;

   padding-bottom: 12px;
}

.teams_bottom {
    margin-top: 40px;
    margin-bottom: 20px;
    color: #b0aebd;
 }

 /*WORKS*/

 .works {
    width: 100%;
    background-color: white;
    margin: 0 auto;
    padding-bottom: 70px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .works_text {
    display: flex;
    justify-content: space-between;
    height: 157px;
    text-align: center;
 }

 .our_works {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 22px;
    color: #413d4b;
    text-transform: uppercase;
    margin-top: 70px;
 }

 .all_projects {
    font-family: 'Roboto', sans-serif;
    font-weight: 300px;
    font-size: 14px;
    color: #413d4b;

    margin-top: 70px;
    left: -30px;
    position: relative;
 }

 .all_projects a {
    text-decoration: none;
 }

 .all_projects::after {
    content: url(./images/arrow.png);
    position: absolute;
    width: 8px;
    height: 13px;
    left: 165px;
 }

.work_pics {
    display: flex;
    flex: 1 1 0;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.work_pics--two { 
    margin-bottom: 70px;
}

 .pic1 {
    display: block;
    text-align: center;
    width: 270px;
    height: 200px;
    background-color: gray;
 }

 .pic2 {
    display: block;
    width: 270px;
    height: 200px;
    background-color: white;
 }


 /*SLIDER*/

 .slider {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    background: url(./images/bg4.jpg) center no-repeat;
}

 .slider_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}

 .slider_header {
    font-family: 'Playfair Display', serif;
    font-size: 100px;
}

 .slider_text {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    color: #e1e0e6;
    text-align: center;

    width: 780px;
    margin-top: -25px;
    margin-bottom: 60px;
}

 .slider_author {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase; 
}

.slider_job {
    
    font-size: 13px;
    font-weight: 300;
    color: #bfbcc9;
    text-transform: uppercase;
}

.slider_photo {
    margin-top: 45px;
    position: relative;
}

.slider_img {
    transform: translateY(-30%);
}

.slider_photo::after {
    width: 15px;
    height: 15px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    content: "";
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: -40px;
    bottom: 33px;
    color: #9f9f9f;
}

.slider_photo::before {
    width: 15px;
    height: 15px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    content: "";
    display: block;
    position: absolute;
    transform: rotate(135deg);
    right: -40px;
    bottom: 33px;
    color: #9f9f9f;
}


/*FEEDBACK*/

.good_news {
    width: 100%;
    height: auto;
    background-color: #fff;
    color: black;
}

.feedback {
    display: flex;
    justify-content: space-between;
}

.column_name {
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;

    margin-top: 70px;
    margin-bottom: 35px;
}

.feedback_one{
    display: flex;
    flex-direction: column;
    
}

.form {
    display: flex;
    flex-direction: column;
}

.input_text {
    width: 460px;
    height: 40px;
    padding: 0px 20px;
    margin-bottom: 22px;
}

.input_text--msg {
    width: 462px;
    height: 160px;
    padding-top: 15px;
    font-family: inherit;
}

.clients {
    margin-left: 100px;
}

.column_name {
    margin-bottom: 50px;
}

.clients_columns {
    display: flex;
    justify-content: space-between;
}

.clients_logo {
    width: 160px;
    height: 50px;
    padding-bottom: 30px;
}

.column_one--two {
    padding-left: 80px;
}


/*FOOTER*/

.footer {
    width: 100%;
    height: 370px;
    background: url(./images/bg5.jpg) center no-repeat;
}

.footer_components {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 70px;
    position: relative;
}

.footer_nav {
    max-width: 300px;
}

.footer_text {
    font-size: 14px;
    font-weight: 300;
    margin-top: 20px;
}

.footer_links {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.footer_link {
    font-size: 14px;
    font-weight: 400;

    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.footer_contacts {
    max-width: 300px;
}

.footer_head {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.footer_address {
    font-size: 14px;
    font-weight: 400;
    position: relative;
    margin-top: 42px;
}

.footer_address::before {
    display:block;
    content: url(./images/map.png);
    position: absolute;
    left: -25px;
    top: 4px;
}

.footer_phone {
    font-size: 14px;
    font-weight: 400;
    position:relative;
    margin-top: 25px;
}

.footer_phone::before {
    display:block;
    content: url(./images/phone.png);
    position: absolute;
    left: -25px;
    top: 4px;
}

.footer_social {
    max-width: 300px;
}



.footer_email {
    width: 210px;
    height: 45px;
    padding-left: 15px;
    border: 1px solid #9a93ac;
    background-color: transparent;
    color: white;
}

.footer_subscription {
    position: relative;
    margin-top: 42px;

}

.footer_button {
    position: absolute;
    left: 250px;
    top: 2px;
}

.footer_cursor1 {
    width: 70px;
    height: 45px;
    background-color: rgb(240, 248, 255, 0.5);
    position: relative;
}

.footer_cursor {
    position: absolute;
    top: 10px;
    left: 22px;
}

.social_media {
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    line-height: 1;
    display: flex;
    margin-top: 30px;
}

.social_item {
    padding-right: 10px;
}

.social_item:active, .social_item:visited {
    color: white;
    background: transparent;
}

.copyright {
    font-size: 14px;
    text-align: right;
    position: absolute;
    right: 10px;
    bottom: 0px;
}



@media (max-width: 990px) { /* ~ tablet landscape */
    /*Team*/
    .team_inner {
        width: 46%;
        max-width: 220px;
        padding-bottom: 40px;
    }
    .teams_bottom {
        margin-top: 0;
    }
}

@media (max-width: 800px) { /* ~ tablet portrait */
    /*First page*/
    .nav_btn {
        margin: 0 3px;
    }

    /*Second page*/
    .story_icon {
        width: 255px;
        height: 233px;
    }
    
    /*Expertise page*/
    .expertise_list{
        width: 45%;
        margin: 0 10px;
    }
}

@media (max-width: 575px) { /* ~ cell */
    /*First_page*/
    .logo {
        font-size: 100px;
    }
    
    .header_nav {
        display: none;
    }

    .bottom_list {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    /*Second page*/
    .text_pt2 {
        display: none;
    }

    /*Expertise page*/
    .expertise_list{
        width: 100%;
        margin: 0;
    }
}
